.android/
.aws/
.cache/
.config
.dbus
.docker
.gconf
.gnome
.gnome2
.gnupg
.gvfs
.IntelliJIdea2019.3
.ipython
.java
.jupyter
.kaggle
.keras
.local
.mozilla
.npm
.nv
.pki
.shutter
.slocdata
.ssh
.steam
.thumbnails
.virtualenvs
.zcompcache
config
creme_data
Desktop
Documents
Downloads
Music
Pictures
projects
Public
scikit_hts_data
snap
spicetify
Steam
taktile
Templates
Videos
.bash_history
.bash_logout
.ICEauthority
.nvidia-settings-rc
.pam_environment
.profile
.pulse-cookie
.python_history
.pythonhist
.steampath
.steampid
.sudo_as_admin_successful
.xinputrc
stale_outputs_checked
.idea/
.zsh_history
.zhistory
.zcompdump
.zcompdump.zwc