[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/carlo/Desktop/frontend]
row=4
col=0

[e9df402b-44f0-48ec-a984-73861ef4be32]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/carlo]
row=3
col=0

